= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :item_id
    = f.input :place_id
    = f.input :date_begin

  .form-actions
    = f.button :submit
