%h1 Listing events

%table
  %tr
    %th Name
    %th Item
    %th Place
    %th Date begin
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.item_id
      %td= event.place_id
      %td= event.date_begin
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
