%p#notice= notice

%p
  %b title:
  = @item.title
%p
  %b Full text:
  = @item.full_text
%p
  %b Date:
  = @item.date
%p
  %b Type:
  = @item.type

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
