%p#notice= notice


%h1=@item.title
-@item.categories.each do |cat|
  =link_to cat.name , category_path(cat)
.img_float
  =link_to @item.main_image.url('large')+'.jpg', class:'fancybox-thumb' ,rel:"fancybox-thumb" do
    = image_tag @item.main_image.url('medium')+'.jpg'
-if @item.info
  %p
    =@item.info.html_safe
-if @item.full_text
  %p
    = @item.full_text.html_safe
-if @item.images
  .gallery
    -@item.images.each_with_index do |image, index|
      -if index > 1
        .img
          =link_to image.image.url('large')+'.jpg', class:'fancybox-thumb' ,rel:"fancybox-thumb" do
            =image_tag(image.image.url('thumb')+'.jpg')


\|
= link_to 'Back', items_path

-@item.schedule.each  do |k , places|
  .row
    .span3
      %h4= localize(k, :format => "%d-%B-%Y")
      -places.each do |place ,rooms|
        .row
          .span3
            %h6=link_to place.name , place_path(place)
            -rooms.each do |room, times|
              =room.try :name
              -times.each do |time|
                =time
              %br






