%p#notice= notice

%h1=@item.title
-@item.categories.each do |cat|
  .path=link_to cat.name , category_path(cat)

.img_float= image_tag @item.images.first.image.url('medium')

%p
  = @item.full_text.html_safe



\|
= link_to 'Back', items_path
=schedule(@item)
-schedule(@item).each  do |k , places|
  .row
    .span3
      %h4= localize(k, :format => "%d-%B-%Y")
      -places.each do |place ,events|
        .row
          .span3
            =place.name
        -events.each do |event|
          =event
=schedule2(@item)

-#:ruby
-#   require 'benchmark'
-#
-#  Benchmark.bmbm do |x|
-#    x.report("Benchmark 1") do
-#      10000.times do
-#       schedule(@item)
-#      end
-#    end
-#    x.report("Benchmark 2") do
-#         10000.times do
-#          schedule2(@item)
-#         end
-#       end
-#
-#
-#  end


-#TODO В некоторых местах еще ругается если нет изображения



