%p#notice= notice

%h1=@item.title
-@item.categories.each do |cat|
  .path=link_to cat.name

.img_float= image_tag @item.images.first.image.url('medium')

%p
  = @item.full_text.html_safe

%p
  -prev_date=''
  - @events.each do |event|
    -if event.date_begin.to_date == prev_date
      .row
        .span3
          .small=link_to  event.place.name , place_path(event.place)
          .small= localize(event.date_begin, :format => "%R")
    -else
      .row
        .span3
          %h4= localize(event.date_begin, :format => "%d-%B-%Y")
          .small=link_to  event.place.name , place_path(event.place)
          .small= localize(event.date_begin, :format => "%R")

    -prev_date = event.date_begin.to_date

\|
= link_to 'Back', items_path



-#TODO В некоторых местах еще ругается если нет изображения



