%p#notice= notice

%p
  %b Name:
  = @place.name

%p
  %b Desc:
  = @place.desc
%p
  %b Contact:
  = @place.contact.address
  \Телефон:
  = @place.contact.tel

-@place.schedule.each do |item ,dates|
  #events
    %h4=link_to item.title , item_path(item)
    .row
      .span7
        .img_float= image_tag item.main_image.url('thumb')
        -#.desc=HTML_Truncator.truncate(item.full_text ,10 ).html_safe
        -#.info= sanitize item.info
        -dates.each do |date, rooms|
          .small= localize(date, :format => "%d-%B-%Y")
          -rooms.each do |room, times|
            =room
            -times.each do |time|
              =time



\|
= link_to 'Back', places_path
