%p#notice= notice

%p
  %b Name:
  = @place.name

%p
  %b Desc:
  = @place.desc
%p
  %b Contact:
  = @place.contact.address
  \Телефон:
  = @place.contact.tel

-@events.each do |event|
  #events
    %h4=event.items.first.title
    .row
      .span7
        .small= localize(event.date_begin, :format => "%R %A %d-%B-%Y")
        .img_float= image_tag event.items.first.main_image.url('thumb')
        .desc=HTML_Truncator.truncate(event.items.first.full_text ,10 ).html_safe
        .info= sanitize event.items.first.info

#paginator= paginate @events

\|
= link_to 'Back', places_path
